<h3>Flight Search</h3>

<div class="row mt-2">
    <div class="col-md-3 border">
        <ul class="nav flex-column cursor">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" routerLink="/flights/fare-details">Fare Details</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/flights/flight-reviews">Reviews</a>
            </li>
            <li class="nav-item">
                <a class="nav-link">Other</a>
            </li>
        </ul>
    </div>
    <div class="col-md-8 border">
         <router-outlet></router-outlet>
    </div>
</div>
